
  .container{
    height: 100vh;
    font-weight: bold;
    color:white;
    text-align: center;
    display: grid;
    grid-template-rows: 100px 50px 1fr 100px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  .header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #D9B95B;
  }
  .navigation{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color:#BFBAB0;
  }
  .sidebar{
    background-color:#F2AC57;
  }
  .content{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #D98B48;
  }
  .footer{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #732002;
  }
